<div class="container_big-card"> 
    <div class="big-card-photo">
        <img src="https://static.biologianet.com/2023/01/capivara.jpg" 
        alt="" 
        srcset=""
        height="270px"
                
        >
    </div>
    <div class="big-card-title">
        <h1><a href="#"> A Capivara </a></h1>

    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit amet, co
            nsectetur adipiscing elit. Sed commodo dolor diam, in vehicula ipsum lobortis sed. Pellen
            tesque felis mi, porta a vehicula sed, venenatis eget dui. Aliquam id tellus neque. Pellentesque molestie non nunc nec dignissim. Aliquam mi felis, dapibus ac augue sed,
            consequat iaculis urna. Morbi eu blandit lectus, sed efficitur augue. Cras imperdiet et purus at finibus. In semper turpis ut neque varius, ac consequat nibh luctus. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vulputate risus leo, ac volutpat mi commodo eu.
        </p>

    </div>
</div>
