    <div class="container_small-card"> 
        <div class="container_small-card-content">

            <div class="small-card-photo">
                <img src="https://ipaussu.sp.gov.br/galerias/fotos/64/5.jpg" 
                    alt="" 
                    srcset=""
                   
                            
                >
             </div>
                <div class="small-card-title">
                    <h1><a href="#"> saiu a nova versao do angular </a></h1>
                </div>     
        </div>
        <div class="container_small-card-divisor"> 
            <hr/>
        </div>
    </div>
    



    




