<header>
    <app-menu-bar></app-menu-bar>
</header>



<app-big-title></app-big-title>

<div class="articles">
    <div class="articles_main">
        <app-big-card photoCover="https://static.biologianet.com/2023/01/capivara.jpg"
          cardTitle="CAPIVARAS ASSASINAS"  
          cardDescription="Capivaras aterrorisam a cidade de ipaussu, atacam moradores e os comem vivos, com seus dentes trituram suas cabeças e comem seus cerebros roubando seus conhecimentos"
          > </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card cardTitle="Ipaussu limpa o lago em pleno 2023."
        photoCover="https://ipaussu.sp.gov.br/galerias/fotos/64/5.jpg"
        >
        </app-small-card>
        <app-small-card
        cardTitle="Camping Ipaussu é reformado, aumentando a segurança."
        photoCover="https://ipaussu.sp.gov.br/galerias/fotos/66/8.jpg"
        ></app-small-card>
        <app-small-card 
         cardTitle="Ipaussu de cima, foto tirada por drone."
         photoCover="https://3.bp.blogspot.com/-b4GCK2UbOW4/VbqYrf7xowI/AAAAAAAACBI/8LO_3l9Gq-g/s1600/Ipaussu%252C%2Bcidade%2Bjoia.jpg"
        > 
            


        </app-small-card>
    </div>
</div>
